{% extends 'base.html.twig' %}

{% block title %}Évènements{% endblock %}

{% block body %}
<div class="case-events">
<div class="divaccueil">
                <div class="searchbar">
                    <h1>Rechercher des évènements</h1>
                    <div class="dropdown"><select class="btncatdrop">
                            <option class="licat" value="option1">
                                <p>Concerts / Évènements musicaux</p>
                            </option>
                            <option class="licat" value="option2">Conventions / Festival</option>
                            <option class="licat" value="option3">Jeux vidéos / E-sport</option>
                            <option class="licat" value="option4">Lifestyle</option>
                            <option disabled="" value="">Catégorie</option>
                        </select><select class="btncatdrop">
                            <option class="licat" value="option1">Doubs</option>
                            <option class="licat" value="option2">Haute-Saône</option>
                            <option class="licat" value="option3">Jura</option>
                            <option class="licat" value="option4">Territoire de Belfort</option>
                            <option disabled="" value="">Localisation</option>
                        </select><select class="btncatdrop">
                            <option class="licat" value="option1">Cette semaine</option>
                            <option class="licat" value="option2">Ce week-end</option>
                            <option class="licat" value="option3">Ce mois-ci</option>
                            <option class="licat" value="option4">À venir</option>
                            <option disabled="" value="">Date</option>
                        </select><button class="btnsearch">Rechercher</button></div>
                </div></div>
    <h1>Évènements</h1>

        <div class="events">

        {% for evenement in evenements %}
            <div class="loc-date-container">
                <h2 class="loc-date">{{ evenement.location }}
{{ evenement.time ? evenement.time|date('d-m-Y') : '' }}
                </h2>
                
                    <div class="carte">  
                    <div class="img-titre-event">
                    <img class="eventimg"src="{{ evenement.img }}">                      
                    <a class="lien-page-event" href="{{ path('app_evenements_show', {'id': evenement.id}) }}">
                        {# <td>{{ evenement.id }}</td> #}
                        <h3>{{ evenement.name }}</h3>
                        </div>
                    {# <td>{{ evenement.category }}</td> #}
                    <div class="description">{{ evenement.description }}</div>
                    {{ evenement.price }}<span> €</span>
                    
                    

                        </a>
                    {# <a href="{{ path('app_evenements_edit', {'id': evenement.id}) }}">edit</a> #}
                    </div>
        
            </div>

       
        {% else %}

        {% endfor %}
        </div>
        

    {# <a href="{{ path('app_evenements_new') }}">Create new</a> #}
{% endblock %}
